<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Create a new tweet!</h1>

      <%= simple_form_for @tweet do |f| %>
        <%= f.input :content %>
        <%= f.button :submit, "Tweet!" %>
      <% end %>
      </div>
   </div>
</div>
